.animated-text {
  text-align: center;
  font-size: 80px;
}

@media (max-width: 769px) {
  .animated-text {
    padding-top: 67px;
    overflow: hidden;
  }
  .animated-text__content {
    font-size: 36px;
  }
}

.animated-text__content {
  word-break: break-word;
  text-align: center;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
}

.animated-text__pointer {
  font-weight: bold;
  color: white;
}