.hover-link {
  text-decoration: none;
  color: #0CC6FF;
  position: relative;
}

.hover-link a {
  text-decoration: none;
}

.hover-link--nuxt {
  color: white;
}

.nuxt-link-exact-active {
  color: #0CC6FF;
}

.hover-link:after {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  content: '';
  background:#0CC6FF;

  transition: all 0.5s;
}

.hover-link:hover:after {
  width: 100%;
}