.about {
  color: white;
  font-family: 'Space Mono', monospace;
  max-width: 1600px;
  overflow: hidden;
}

.about h1 {
  font-size: 60px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.about h3 {
  font-size: 36px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.about__section {
  width: 100%;
  margin-top: 60px;
  float: left;
}
.about__section:first-of-type {
  margin-top: 0;
}

.section__left {
  width: calc(100% - 400px);
  float: left;
}

.section__left img {
  max-width: calc(100% - 16px);
  margin: 16px 8px;
}

.section__right {
  width: 400px;
  padding: 10px 40px;
  padding-left: 80px;
  margin-top: 25px;
  float: left;
}

.section__symbol {
  padding-right: 18px;
  float: left;
}

.section__symbol img {
  height: 58px;
}

.clearfix, .clearfix::after, .clearfix::before {
  display: table;
  clear: both;
  content: '';
}

@media (min-width: 1800px) {
  .about {
      width: 1600px;
      margin-left: 50%;
      transform: translateX(-50%);
  }
}

@media (min-width: 1260px) {
  .section__right {
    width: 700px;
  }

  .section__left {
    width: calc(100% - 700px);
    float: left;
  }
}

@media (max-width: 1260px) {
  .section__left {
    width: 100%;
  }

  .section__right {
    width: 100%;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .section__left h1 {
      font-size: 30px;
  }
}