.main {
  color: white;
}

.main__animation {
  position: relative;
  height: calc(100vh - 150px);
}

.main__center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  max-width: 1100px;
  width: 90%;
}

.main__info {
  padding-bottom: 50px;
}

.main__news {
  margin-top: 32px;
}

.logo {
  width: 90%;
  max-width: 600px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
